#about-us {
    background: $white_color;
    .row {
        @include row; 
        @include align-item-center;
        .d-col-66 {
            @include d-col-66;
            margin-bottom: 0;
        }
        .d-col-33 {
            @include d-col-33;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }    
}


