@import "../common/variable";
// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin body-font-style {    
    font-style: normal;
    letter-spacing: normal;
    font-family: $site_font_primary;    
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin opacity($opacity) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    -o-opacity: $opacity;
    -ms-opacity: $opacity;
    opacity: $opacity;
}

@mixin transition($seconds, $timing: ease) {
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds $timing;
}

@mixin transform($property) {
    -o-transform: $property;
    -webkit-transform: $property;
    -ms-transform: $property;
    -moz-transform: $property;
    transform: $property;
}

@mixin flexbox {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

@mixin justify-center {    
    justify-content: center;
}

@mixin flex-center {
    @include flexbox;
    @include align-item-center;
    @include justify-center;
}

@mixin figure {
    margin: 0;
    display: inherit;
}

@mixin img-common {
    display: inline-block;
    max-width: inherit;
    width: 100%;
    vertical-align: middle;
    height: auto;
}

@mixin space-none {
    margin: 0;
    padding: 0;
}

@mixin order-unoderlist {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin anchor-link-common {
    text-decoration: none;
    outline: none;
    color: $site_primary_color;
    @include transition(0.4s);
    &:hover {
        color: $site_secondary_color;
    }
}

@mixin main {    
    padding: 0px;
    width: 100%;
    display: inline-block;
    
}

@mixin section {
    float: left;
    width: 100%;        
    padding: 30px 0;
    @media only screen and (min-width: $device-md) {
        padding: 40px 0;
    }
    @media only screen and (min-width: $device-lg) {
        padding: 30px 0;
    }    
}

@mixin box($property) {
    box-sizing: $property;
    -moz-box-sizing: $property; 
    -webkit-box-sizing: $property;
    -o-box-sizing: $property; 
}

@mixin font-xl{   
    font-size: 30px;  
    line-height: 1.2;  
    @media only screen and (min-width: $device-md) {
        font-size: 46px;
        line-height: 1.2;
    }  
    @media only screen and (min-width: $device-lg) {
        font-size: 42px;
        line-height: 1.3;
    }    
}

@mixin font-lg{
    font-size: 24px;    
    line-height: 30px;
    @media only screen and (min-width: $device-md) {
        font-size: 28px;
        line-height: 32px;
    } 
    @media only screen and (min-width: $device-tab) {
        font-size: 32px;
        line-height: 1.3;
    }  
    
}

@mixin font-md{
    font-size: 30px;
    line-height: 35px;
    @media only screen and (min-width: $device-md) {
        font-size: 35px;
        line-height: 40px;
    }
    @media only screen and (min-width: $device-lg) {
        font-size: 27px;
        line-height: 39px;
    }    
}

@mixin font-sm{    
    font-size: 18px;    
    @media only screen and (min-width: $device-md) {
        font-size: 22px;
        line-height: 21px;
    }
    @media only screen and (min-width: $device-lg) {
        font-size: 24px;
        line-height: 39px;
    }
}

@mixin font-xs{        
    font-size: 18px;
    @media only screen and (min-width: $device-xl) {
        font-size: 22px;
    }
}

@mixin font-xxs{    
    @media only screen and (min-width: $device-xs) {
        font-size: 15px;
    }
    @media only screen and (min-width: $device-xl) {
        font-size: 20px;
    }
}

@mixin body-fonts {
    font-size: 16px;    
}

@mixin h1 {
    @include font-xl;
}

@mixin h2 {
    @include font-lg;
    text-transform: uppercase;
    color: $site_primary_color;
    margin-bottom: 10px;
}

@mixin h3 {
    @include font-md;
}

@mixin h4 {
    @include font-sm;
    color: $site_secondary_color;
    margin-bottom: 5px;
}

@mixin h5 {
    //not available / not in use
    @include font-xs;
    line-height: 22px;
}

@mixin h6 {
    //not available / not in use
    @include font-xxs;
}

@mixin p {
    @include body-fonts;
    line-height: 22px;
    letter-spacing: 0.45px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

@mixin d-col-2 {
    width: 100%;
    @media only screen and (min-width: $device-md) {
        width: 50%;
    }
}
@mixin d-col-3 {
    width: 100%;
    @media only screen and (min-width: $device-sm) {
        width: 50%;
    }
    @media only screen and (min-width: $device-xl) {
        width: 33.33%;
    }
}
@mixin d-col-4 {
    width: 100%;
    @media only screen and (min-width: $device-md) {
        width: 50%;
    }
    @media only screen and (min-width: $device-lg) {
        width: 33.33%;
    }
    @media only screen and (min-width: $device-xl) {
        width: 25%;
    }
}
@mixin d-col-33 {
    width: 100%;
    @media only screen and (min-width: $device-xl) {
        width: calc(25% - 40px);
    }            
}
@mixin d-col-66 {
    width: 100%;
    @media only screen and (min-width: $device-xl) {
        width: calc(68% - 40px);
    }
    @media only screen and (min-width: 1400px) {
        width: calc(75% - 40px);
    }
}
@mixin row {
    @include flexbox;
    @include flexrow;
    @include flexwrap;
    margin: 0 -15px;
    @media only screen and (min-width: $device-md) {
        // margin: 0 -15px;
    }
    @media only screen and (min-width: $device-xl) {
        margin: 0 -20px;
    }
    .d-col {
        // @include flexbox;
        // @include flexwrap;
        // @include just-center;
        padding: 0 15px;
        width: 100%;
        margin-bottom: 15px;
        @media only screen and (min-width: $device-md) {
            margin-bottom: 20px;
        }
        @media only screen and (min-width: $device-xl) {
            margin-bottom: 0;
            padding: 0 20px;
        }
        
    }
}

@mixin align-item-center {
    align-items: center;
}

@mixin align-item-start {
    align-items: flex-start;
}

@mixin align-item-end {
    align-items: flex-end;
}

@mixin just-center {
    justify-content: center;
}

@mixin just-start {
    justify-content: start;
}

@mixin just-end {
    justify-content: end;
}

@mixin space-between {
    justify-content: space-between;
}

@mixin flexrow {
    flex-direction: row;
}

@mixin flexColumn {
    flex-direction: column;
}

@mixin flexwrap {
    flex-wrap: wrap;
}

@mixin text-center {
    text-align: center;
}

@mixin button {       
    @include text-center();
    @include transition(0.3s);
    border: 1px solid $site_button_color;
    outline: none;    
    cursor: pointer;        
    text-decoration: none;
    position: relative;    
}

@mixin btn-medium {        
    max-width: 180px;
    min-width: 180px;
    margin: 20px auto 30px;    
    @media only screen and (min-width: $device-md) { 
        margin: 10px 0 0;
    }
    @media only screen and (min-width: $device-lg) {
        max-width: 220px; 
        width: 100%;
        min-width: 220px;
    }
}

@mixin btn-small {
    max-width: 160px;
    width: 100%;
}


@mixin btn-primary {
    background-color: $site_button_color;
    color: $white_color;
    border-color: $site_button_color;
    &:hover {
        background-color: $white_color;
        color: $site_button_color;
    }
}

@mixin section-title {
    margin-bottom: 20px;
}