
$site_primary_color: #1D685B;
$site_secondary_color: #129780;
$site_tertiary_color: #002043;
$site_font_primary: "Mulish", sans-serif;
$site_font_secondary: "Poppins", sans-serif;
$site_text_color: #3A3A3A;
$site_button_color: $site_primary_color;
$white_color: #FFFFFF;
$black_color: #000000;
$section-bg: #eeeeee;
$divider: #96abb3;
$light-blue: #96abb3;
 
$device-xs: 320px;
$device-sm: 576px;
$device-md: 768px;
$device-tab: 991px;
$device-lg: 1024px;
$device-xl: 1200px;
$device-xxl: 1600px;
$device-xxxl: 1900px;