@import "../common/mixin";

footer {
    background: #0A211D;   
    color: $white_color;
    margin-bottom: 47px;
    @media only screen and (min-width: $device-xl) {
        margin-bottom: auto;
    }
    .footer-wrapper {        
        padding: 30px 0 30px;
    }    
    .row {
        @include row;  
        .d-col-66 {
            @include d-col-66;
            margin-bottom: 0;
        }
        .d-col-33 {
            @include d-col-33;
        }  
    }
    .footer-links-title {
        margin-bottom: 15px;
        border-bottom: 1px solid $divider;
        padding-bottom: 10px;
        @media only screen and (min-width: $device-md) {
            padding: 0;
            border: 0;
        }
    }
    p {
        color: $white_color;
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 0.3px;
        @media only screen and (min-width: $device-md) {
            font-size: 14px;
        }
        &.disclaimer {
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: 0.7px;
            margin-bottom: 0;
            @media only screen and (min-width: $device-md) {
                font-size: 14px;
            }
        }
    }
    > span {
        color: $white_color;
        // @include opacity(0.55);
        @include text-center;
        font-size: 14px;
        display: block;
        border-top: 1px solid $white_color;
        line-height: 19px;
        padding: 20px 0;
        @media only screen and (min-width: $device-md) {
            font-size: 14px;
            line-height: 19px;
        }
        a {
            color: $site_secondary_color;
            &:hover {
                color: $white_color;
            }
        }
    }
    .footer-logo img {
        width: 170px;
        margin-bottom: 20px;
    }
    .footer-links-wrap {        
        li {
            padding: 0 0 10px;
            a {
                color: $site_secondary_color;
            }
        }
    }
}
